body {
    background-color:rgb(232, 220, 195);
}

.inputField {
    width:50%;
}

input:disabled {
    border-color:black;
    background-color: ghostwhite;
    color: black;
}

hr {
    border-top-color: black;
    border-bottom-color: black;
}